span.glyphButton{
	float: right;
	cursor: pointer;
}

span.glyphicon-minus{
	margin: auto;
}

span.glyphicon-plus{
	margin: auto;
}

span.glyphicon-link{
	margin: 6px auto 0px auto;
}

textarea#fromCell{
	resize: none;
	height: 34px;
}

span.delete{
	position:relative;
	top: 7px;
}

span.tocode, span.fromcode{
}

th.glyphButtonHolder{
	width: 60px;
	text-align: center;
}
th.glyphButtonHolder span{
	margin: 0px 10px;
}

input.toFromInput{
	width: 82%;
}

input#toDomain{
	position: relative;
	left: 10px;
}

td.removeButtonColumn{
	width:  1em;
	padding: 0px;
}

input.form-control{
	width: 95%;
	float: left;
}

button.alert-warning, button.alert-danger, button.alert-success{
	margin: 3px 0px 0px 5px;
}

button#helpbutton, button#clearbutton{
	float:right;
}

button#copydomain{
	margin-left: 419px;
}

div.popover-content{
	max-width: 150px;
}

table.table tr{
	height: 51px;
}

button#fromreloadbutton, button#toreloadbutton{
	height: 22px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

/*styles for popovers */
th#fromField div.top{
	left: 485px  !important;
}

td#fromCellForm div.popover-content, th#toField div div.popover-content{
	max-width: 300px  !important;
}

li.check div.popover, li.generate div.popover{
	width: 145px;
}

div.popover-content{
	font-weight: 400;
}